stages:
  - setup
  - invoke
  - query

variables:
  DOCKER_HOST: tcp://docker:2375 # Required for Docker-in-Docker

services:
  - docker:dind

setup_network:
  stage: setup
  image: docker:20.10.16
  script:
    - apk add --no-cache bash
    - cd src/ledger/legitify-network
    - bash scripts/startNetwork.sh
  tags:
    - docker
  only:
    - main
    - merge_requests

invoke_degree:
  stage: invoke
  image: docker:20.10.16
  script:
    - apk add --no-cache bash
    - cd src/ledger/legitify-network
    - bash scripts/invokeDegree.sh
  tags:
    - docker
  only:
    - main
    - merge_requests
  dependencies:
    - setup_network

query_degree:
  stage: query
  image: docker:20.10.16
  script:
    - apk add --no-cache bash
    - cd src/ledger/legitify-network
    - bash scripts/queryDegree.sh
  tags:
    - docker
  only:
    - main
    - merge_requests
  dependencies:
    - invoke_degree
