# Operating System Files
.DS_Store
.project

# Editor Files
## Emacs
*~
*#
.#*

## Vim
.*.sw*

## VS Code
.vscode
!.vscode/extensions.json

## IntelliJ
.idea

## Eclipse
.classpath
.settings

# Environment variables
**/client.env
**/.env
**/.env.*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server.env
**/server.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
src/ledger/legitify-network/invoke_output.txt
src/ledger/legitify-network/resource-server/resource-server.log

# Dependencies and Build Directories
## Node.js
node_modules/
package-lock.json
dist
dist-ssr
*.local
build/

## Go
src/ledger/chaincode/degreeChaincode/vendor/

## Gradle
.gradle
src/ledger/build

## Maven
src/ledger/target

# Testing and Coverage
coverage

# TypeScript
*.tsbuildinfo

# NPM specific
.npm
.eslintcache

# Hyperledger Fabric Specific
## Binary and Configuration Files
src/ledger/bin/
src/ledger/builders/
src/ledger/config/
src/ledger/external-chaincode/
src/ledger/legitify-network/builders/

## Network Artifacts
src/ledger/legitify-network/channel-artifacts/
src/ledger/legitify-network/ledgers
src/ledger/legitify-network/ledgers-backup
src/ledger/legitify-network/system-genesis-block/*
src/ledger/legitify-network/*.tar.gz
src/ledger/legitify-network/log.txt
src/ledger/legitify-network/.running

## Organization Artifacts
src/ledger/legitify-network/org3-artifacts/crypto-config/*
src/ledger/legitify-network/organizations/ordererOrganizations/
src/ledger/legitify-network/organizations/peerOrganizations/

## Fabric CA Directories
src/ledger/legitify-network/organizations/fabric-ca/
!src/ledger/legitify-network/organizations/fabric-ca/registerEnroll.sh
!src/ledger/legitify-network/organizations/fabric-ca/ca-config.yaml

# Server Specific
src/server/pgdata/
src/server/src/wallet/
src/server/src/certificates/
src/server/src/connectionProfiles/
src/server/src/msp/
src/server/package-lock.json
src/server.pid
src/client.pid

# Supabase local configuration
src/server/supabase-local/supabase/config.toml
src/server/supabase-local/supabase/.branches
src/server/supabase-local/supabase/.temp
.env.keys

# Editor specific file extensions
*.suo
*.ntvs*
*.njsproj
*.sln
