stages:
  - build

build_job:
  stage: build
  image: docker:20.10.16
  services:
    - name: docker:dind
      alias: docker
  variables:
    DOCKER_TLS_CERTDIR: ""          # Disable TLS for DinD
    DOCKER_HOST: tcp://docker:2375  # Connect to Docker-in-Docker daemon
  before_script:
    - apk add --no-cache bash
    - docker info                   # Verify Docker daemon is working
  script:
    - echo "Running Docker Test"
    - docker run hello-world
  tags:
    - docker
