stages:
  - deploy
  - test

before_script:
  - echo $(whoami)
  - docker --version
  - echo "Runner is on x86_64 (Intel/AMD)."
  - cd $CI_PROJECT_DIR
  - git clean -fdx
  - sudo chown -R gitlab-runner:gitlab-runner .

after_script:
  - cd $CI_PROJECT_DIR
  - sudo chown -R gitlab-runner:gitlab-runner .
  - sudo find . -type d -exec chmod 755 {} +
  - sudo find . -type f -exec chmod 644 {} +

deploy_network:
  stage: deploy
  tags:
    - docker
  script:
    - set -e
    - docker --version
    - echo "Runner is on x86_64 (Intel/AMD)."
    - cd $CI_PROJECT_DIR

    # Install Fabric binaries
    - echo "Copying AMD-based Fabric binaries into src/ledger/bin..."
    - cd src/ledger
    - export ARCH=amd64
    - export FABRIC_PATH=$PWD
    - bash ./install-fabric.sh --fabric-version 2.5.10 binary --ca-version 1.5.13
    # Set executable permissions for all binaries
    - chmod +x bin/*

    # Build Chaincode
    - cd chaincode/degreeChaincode
    - go mod tidy
    - echo "Chaincode build step complete."

    # Deploy Network
    - cd $CI_PROJECT_DIR/src/ledger/legitify-network
    - bash scripts/stopNetwork.sh || true
    - bash scripts/startNetwork.sh
    - echo "Network deployment step complete."

    # Test the Chaincode
    - bash scripts/testDegreeChaincode.sh

    # Cleanup before teardown
    - sudo rm -rf organizations/fabric-ca/*

    # Tear Down the Network
    - ./network.sh down
    - docker system prune -af --volumes

    # Start the backend server
    - cd $CI_PROJECT_DIR/src/server
    - npm install
    - chmod +x src/scripts/start-fresh-db.sh
    - bash src/scripts/start-fresh-db.sh &

    # Wait for the server to be ready
    - |
      timeout=60
      while ! curl -s http://localhost:3001/docs > /dev/null; do
        if [ "$timeout" -le "0" ]; then
          echo "Server failed to start"
          exit 1
        fi
        echo "Waiting for server to start... ($timeout seconds remaining)"
        timeout=$((timeout-1))
        sleep 1
      done
    - echo "Server is up and running!"
  artifacts:
    reports:
      dotenv: server.env

run_tests:
  stage: test
  tags:
    - docker
  script:
    - cd $CI_PROJECT_DIR/src/server
    - chmod +x scripts/test-flow.sh
    - bash scripts/test-flow.sh
  dependencies:
    - deploy_network

  only:
    - main
    - master
    - merge_requests
