stages:
  - test

test_job:
  stage: test
  image: docker:20.10.16
  services:
    - name: docker:dind
      alias: docker
  variables:
    DOCKER_TLS_CERTDIR: ""          # Disable TLS for DinD
    DOCKER_HOST: tcp://docker:2375  # Ensure Docker CLI connects to the correct daemon
  before_script:
    - apk add --no-cache bash
    - docker info                   # Verify Docker daemon is running
  script:
    - echo "Running Test Job"
    - pwd
    - ls -la
    - cd src/ledger/legitify-network
    - bash scripts/startNetwork.sh
  tags:
    - docker
  only:
    - main
    - merge_requests
