# .gitlab-ci.yml

stages:
  - test

test_job:
  stage: test
  image: alpine:latest
  script:
    - echo "Running Test Job"
    - pwd
    - ls -la
  tags:
    - docker
  only:
    - main
    - merge_requests
