stages:
  - build
  - deploy

before_script:
  # 1) Make sure Docker is running
  - sudo systemctl start docker || true
  
  # 2) cd into network folder so scripts can run
  - cd src/ledger/legitify-network
  
  # 3) Confirm go version
  - go version

build_chaincode:
  stage: build
  script:
    - echo "Tidying Go modules for chaincode..."
    - cd ../chaincode/degreeChaincode
    - go mod tidy
    - cd ../../legitify-network
    - echo "Go chaincode dependencies updated."
  only:
    - main
    - master
    - merge_requests

deploy_fabric_network:
  stage: deploy
  script:    
    - echo "Starting network..."
    - bash scripts/startNetwork.sh
    
    - echo "Deployment stage complete."
  only:
    - main
    - master
    - merge_requests
