stages:
  - prepare
  - setup

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

services:
  - name: docker:dind
    alias: docker

prepare:
  stage: prepare
  image: docker:20.10.16
  before_script:
    - apk update && apk add --no-cache bash jq curl go tar ca-certificates wget
  script:
    - echo "Pulling Hyperledger Fabric Docker images..."
    - docker pull hyperledger/fabric-peer:2.5.10
    - docker pull hyperledger/fabric-orderer:2.5.10
    - docker pull hyperledger/fabric-ca:1.5.0
    - echo "Copying Hyperledger Fabric binaries and configuration files..."
    - cp -r src/ledger/hyperledger-fabric-linux-amd64-2.5.10/* src/ledger/
    - ls -la src/ledger/bin
    - ls -la src/ledger/config
    - chmod -R +x src/ledger/bin
  tags:
    - docker
  only:
    - main
    - merge_requests
  artifacts:
    paths:
      - src/ledger/bin
      - src/ledger/config

setup_network:
  stage: setup
  image: docker:20.10.16
  script:
    - set -x
    - cd src/ledger/legitify-network
    - bash scripts/startNetwork.sh
  tags:
    - docker
  only:
    - main
    - merge_requests
  dependencies:
    - prepare
  artifacts:
    paths:
      - src/ledger/legitify-network/logs/
      - src/ledger/legitify-network/channel-artifacts/
