stages:
  - prepare
  - setup

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

services:
  - name: docker:dind
    alias: docker

prepare:
  stage: prepare
  image: docker:20.10.16
  services:
    - docker:dind
  script:
    - echo "Pulling Hyperledger Fabric Docker images..."
    - docker pull hyperledger/fabric-peer:2.5.10
    - docker pull hyperledger/fabric-orderer:2.5.10
    - docker pull hyperledger/fabric-ca:1.5.0
    - echo "Copying Hyperledger Fabric binaries and configuration files..."
    - cp -r src/ledger/hyperledger-fabric-linux-amd64-2.5.10/* src/ledger/
    - ls -la src/ledger/bin
    - ls -la src/ledger/config
    - chmod -R +x src/ledger/bin

setup_network:
  stage: setup
  image: docker:20.10.16
  services:
    - docker:dind
  script:
    - echo "Verifying Docker images..."
    - docker images
    - echo "Verifying binaries..."
    - ls -la src/ledger/bin
    - echo "Starting the Hyperledger Fabric network..."
    - cd src/ledger/legitify-network
    - bash scripts/startNetwork.sh
  dependencies:
    - prepare
