apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090 # Use the Docker service name
    isDefault: true
    editable: true
    basicAuth: false
    jsonData:
      timeInterval: "15s"
